.footer {
  position: relative;
  min-height: 270px;
  margin-top: -270px;
}

.footer .upper-body {
  min-height: 220px;
  background-color: #4f4d55;
}

.footer .upper-body .info-container {
  margin: 0 10vw 0 10vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.footer .upper-body .info-container .info-item {
  margin: 10px;
}

.footer .upper-body .info-container .info-item a {
  color: #ffffff;
}

.footer .upper-body .info-container .adContact {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 22px;
}

.footer .upper-body .info-container .adContact a {
  color: #c0ae0e;
}

.footer .upper-body .link-container {
  margin: 0 10vw 0 10vw;
  padding: 10px;
}

@media (min-width: 1000px) {
  .footer .upper-body .link-container {
    display: flex;
  }
}

.footer .upper-body .link-container .link-row {
  flex: 1;
}

.footer .upper-body .link-container .link-row .link {
  margin: 5px;
}

.footer .upper-body .link-container .link-row .link a {
  color: white;
}

.footer .lower-body {
  min-height: 50px;
  background-color: #2b2b2c;
}
