.header {
  width: 100%;
  height: calc(10vw);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.header .logo {
  width: 100%;
  height: 100%;
  flex: 1;
  background: url("https://lh3.googleusercontent.com/VJB2IjI0VvyS_b5z4us2wBWQyQOQrBIflKpSKAagZg1fMQqNbUF9HlO1kfpFfXLQLycfRspyAlEtMJvqhb_1FgFtlSe2pLlYl_5ui-bxduBxjVMkZnicgPeTNCKXZ6vBbP4J4Qwj=w600-h291-p-k") no-repeat;
  background-size: 100%;
}

.header .header-ad {
  flex: 4;
}
