@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
@media (min-width: 1100px) {
  .flx-vid-container {
    display: flex;
    justify-content: space-between;
  }
}

.flx-vid-container .flx-cld-major {
  font-family: "Hind Siliguri", sans-serif;
  margin: 10px;
  flex: 4;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-vid-container .flx-cld-major .section-title {
  margin: 30px 0 30px 0;
  background-color: #ffffff;
  border-style: solid;
  border-color: #4f6969;
  border-width: 0px;
  border-left-width: 5px;
  padding: 10px;
  text-align: left;
  color: #2a2347;
  width: 100%;
  font-size: 30px;
}

.flx-vid-container .flx-cld-major .flx-card {
  margin: 10px;
  width: 300px;
  height: 240px;
  background-color: white;
  border-radius: 5px;
}

.flx-vid-container .flx-cld-major .flx-card iframe {
  min-width: 100%;
  min-height: 180px;
}

.flx-vid-container .flx-cld-major .flx-card .item-title {
  margin: 5px;
  font-size: 15px;
  font-weight: bold;
}

.flx-vid-container .flx-cld-major .flx-card .change-opt {
  text-align: center;
}

.flx-vid-container .flx-cld-major .see-more {
  margin: 5px;
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.flx-vid-container .flx-cld-major .see-more a:hover {
  color: #034a8d;
  text-decoration: underline;
}

.flx-vid-container .flx-cld-minor {
  margin: 5px;
  flex: 1;
}

body {
  background-color: #eee;
  height: 100vh;
}

.page-container {
  min-height: 100%;
}

.page-container .content-wrap {
  overflow: auto;
  padding-bottom: 270px;
}

main {
  margin: 20px 6%;
}

@media (max-width: 1200px) {
  main {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 1000px) {
  main {
    margin-left: 5px;
    margin-right: 5px;
  }
}

.flx-news-container {
  font-family: "Hind Siliguri", sans-serif;
}

@media (min-width: 1200px) {
  .flx-news-container {
    display: none;
    display: flex;
    justify-content: space-between;
  }
}

.flx-news-container .flx-cld-major {
  flex: 3;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-news-container .flx-cld-major .section-title {
  margin: 30px 0 30px 0;
  background-color: #ffffff;
  border-style: solid;
  border-color: #4f6969;
  border-width: 0px;
  border-left-width: 5px;
  padding: 10px;
  text-align: left;
  color: #2a2347;
  width: 100%;
  font-size: 30px;
}

.flx-news-container .flx-cld-major .flx-card {
  margin: 10px;
  width: 300px;
  height: 240px;
  background-color: white;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .flx-news-container .flx-cld-major .flx-card {
    width: 150px;
    height: 200px;
  }
}

.flx-news-container .flx-cld-major .flx-card img {
  width: 100%;
  height: 180px;
}

@media (max-width: 500px) {
  .flx-news-container .flx-cld-major .flx-card img {
    height: 100px;
  }
}

.flx-news-container .flx-cld-major .flx-card .item-title {
  margin: 5px;
  font-size: 18px;
}

.flx-news-container .flx-cld-major .flx-card .item-title:hover {
  color: blue;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .flx-news-container .flx-cld-major .flx-card .item-title {
    font-size: 16px;
  }
}

.flx-news-container .flx-cld-major .flx-card .item-title a {
  color: black;
}

.flx-news-container .flx-cld-major .flx-card .item-title a:hover {
  color: blue;
  text-decoration: underline;
}

.flx-news-container .flx-cld-major .flx-card .change-opt {
  text-align: center;
  margin: 5px;
}

.flx-news-container .flx-cld-major .general {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flx-news-container .flx-cld-major .general .sec-title {
  box-shadow: 0 0 3px #ccc;
  grid-column: 1/5;
  grid-row: 1/2;
  min-height: 50px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #4f6969;
  border-width: 0px;
  border-left-width: 5px;
  padding: 10px;
  color: #2a2347;
  width: 100%;
  display: flex;
}

@media (max-width: 1400px) {
  .flx-news-container .flx-cld-major .general .sec-title {
    grid-column: 1/4;
  }
}

@media (max-width: 1000px) {
  .flx-news-container .flx-cld-major .general .sec-title {
    grid-column: 1/3;
  }
}

@media (max-width: 700px) {
  .flx-news-container .flx-cld-major .general .sec-title {
    grid-column: 1/2;
  }
}

.flx-news-container .flx-cld-major .general .sec-title .title {
  flex: 1;
  text-align: left;
  font-size: 1.5rem;
}

.flx-news-container .flx-cld-major .general .sec-title .see-more {
  margin-top: 5px;
  width: 200px;
  font-size: 1.2rem;
}

.flx-news-container .flx-cld-major .general .sec-title .see-more a {
  color: #851515;
}

.flx-news-container .flx-cld-major .general .news-card {
  background-color: white;
  min-height: 100px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 3px #ccc;
}

.flx-news-container .flx-cld-major .general .news-card .news-cont {
  width: 100%;
  min-height: 100px;
  display: flex;
}

.flx-news-container .flx-cld-major .general .news-card .news-cont .img-cont {
  width: 120px;
  display: flex;
}

.flx-news-container .flx-cld-major .general .news-card .news-cont .img-cont img {
  margin: auto;
  width: 100px;
  height: 75px;
}

.flx-news-container .flx-cld-major .general .news-card .news-cont .item-title {
  font-size: .8rem;
  flex: 1;
  margin: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
}

.flx-news-container .flx-cld-major .general .news-card .news-cont .item-title a {
  flex: 1;
  color: black;
}

.flx-news-container .flx-cld-major .general .news-card .news-cont .item-title .date-cont {
  font-size: .8rem;
  color: #93979a;
}

.flx-news-container .flx-cld-major .general .main-news {
  grid-column: 1/3;
  grid-row: 2/5;
}

@media (max-width: 1000px) {
  .flx-news-container .flx-cld-major .general .main-news {
    grid-column: 1/3;
  }
}

@media (max-width: 700px) {
  .flx-news-container .flx-cld-major .general .main-news {
    grid-column: 1/2;
  }
}

.flx-news-container .flx-cld-major .general .main-news .news-card {
  align-items: flex-start;
  background-color: white;
  min-height: 100%;
  box-shadow: 0 0 3px #ccc;
  padding: 5px;
}

.flx-news-container .flx-cld-major .general .main-news .news-card .news-cont {
  margin: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.flx-news-container .flx-cld-major .general .main-news .news-card .news-cont .img-cont {
  position: relative;
  width: 100%;
  padding-bottom: 65%;
  display: flex;
}

.flx-news-container .flx-cld-major .general .main-news .news-card .news-cont .img-cont img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flx-news-container .flx-cld-major .general .main-news .news-card .news-cont .item-title {
  font-size: 1rem;
  flex: 1;
  margin: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
}

.flx-news-container .flx-cld-major .general .main-news .news-card .news-cont .item-title a {
  flex: 1;
  color: black;
}

.flx-news-container .flx-cld-major .general .main-news .news-card .news-cont .item-title .date-cont {
  font-size: 1rem;
  color: #93979a;
}

.flx-news-container .flx-cld-minor {
  flex: 1;
}

.flx-news-container .flx-cld-minor .fb-page-cont {
  margin: 10px;
  margin-top: 15px;
  background-color: white;
}

.flx-news-container .flx-cld-minor .fb-page-cont .sec-title {
  box-shadow: 0 0 3px #ccc;
  min-height: 40px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #4f6969;
  border-width: 0px;
  border-left-width: 5px;
  padding: 10px;
  color: #2a2347;
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
}

.flx-news-container .flx-cld-minor .fb-page-cont .holder {
  margin: 10px;
  height: 220px;
}

@media (min-width: 1400px) {
  .flx-news-container .flx-cld-minor .fb-page-cont .holder {
    text-align: center;
  }
}

.flx-news-container-old {
  font-family: "Hind Siliguri", sans-serif;
}

@media (min-width: 1200px) {
  .flx-news-container-old {
    display: none;
    display: flex;
    justify-content: space-between;
  }
}

.flx-news-container-old .flx-cld-major {
  flex: 3;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flx-news-container-old .flx-cld-major .general {
  padding: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.flx-news-container-old .flx-cld-major .general .news-card {
  align-items: flex-start;
  background-color: white;
  box-shadow: 0 0 3px #ccc;
  padding: 5px;
}

.flx-news-container-old .flx-cld-major .general .news-card .news-cont {
  margin: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.flx-news-container-old .flx-cld-major .general .news-card .news-cont .img-cont {
  position: relative;
  width: 100%;
  padding-bottom: 65%;
  display: flex;
}

.flx-news-container-old .flx-cld-major .general .news-card .news-cont .img-cont img {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flx-news-container-old .flx-cld-major .general .news-card .news-cont .item-title {
  font-size: 1rem;
  flex: 1;
  margin: 10px 10px 10px 0;
  display: flex;
  flex-direction: column;
}

.flx-news-container-old .flx-cld-major .general .news-card .news-cont .item-title a {
  flex: 1;
  color: black;
}

.flx-news-container-old .flx-cld-major .general .news-card .news-cont .item-title .date-cont {
  font-size: 1rem;
  color: #93979a;
}

.flx-news-container-old .flx-cld-minor {
  flex: 1;
}

.flx-news-container-old .flx-cld-minor .fb-page-cont {
  margin: 10px;
  margin-top: 15px;
  background-color: white;
}

.flx-news-container-old .flx-cld-minor .fb-page-cont .sec-title {
  box-shadow: 0 0 3px #ccc;
  min-height: 40px;
  background-color: #ffffff;
  border-style: solid;
  border-color: #4f6969;
  border-width: 0px;
  border-left-width: 5px;
  padding: 10px;
  color: #2a2347;
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
}

.flx-news-container-old .flx-cld-minor .fb-page-cont .holder {
  margin: 10px;
  height: 220px;
}

@media (min-width: 1400px) {
  .flx-news-container-old .flx-cld-minor .fb-page-cont .holder {
    text-align: center;
  }
}

.add-new {
  width: 100%;
  text-align: center;
  padding: 10px;
}

.form-container {
  padding: 10px 10px 10px 10px;
  width: calc(100% - 10%);
  margin: 20px 5% 20px 5%;
  background-color: #e9ecef;
}

@media (min-width: 800px) {
  .form-container {
    width: calc(100% - 30%);
    margin: 20px 15% 20px 15%;
  }
}

.form-container .part {
  padding: 10px;
}

.form-container .part .title {
  font-size: 20px;
  font-weight: bold;
}

.form-container .btn-container {
  width: 100%;
  padding: 10px;
  text-align: center;
}

.admin-cont .flx-card {
  min-height: 260px;
}
