.custom-pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 0px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}

.custom-pagination a {
  background-color: white;
  color: #212529;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
  margin: 0px;
}

.custom-pagination a:not(:last-child) {
  border-left: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

.custom-pagination a:last-child {
  border: 1px solid #dee2e6;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.custom-pagination a:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.custom-pagination a:hover:not(.active):not(.disabledBTN) {
  background-color: #b0baf5;
  color: #5957cc;
  font-weight: bold;
}

.custom-pagination .active {
  background: #353c50;
  color: white;
  font-weight: bold;
}

.custom-pagination .arrow {
  font-size: 20px;
}

@media (max-width: 600px) {
  .custom-pagination {
    font-size: 15px;
  }
  .custom-pagination a {
    padding: 12px;
  }
  .custom-pagination .arrow {
    font-size: 15px;
  }
}

@media (max-width: 475px) {
  .custom-pagination {
    font-size: 15px;
  }
  .custom-pagination a {
    padding: 8px;
  }
  .custom-pagination .arrow {
    font-size: 15px;
  }
}

.disabled-btn {
  background: #bdbbbb;
  pointer-events: none;
}
