@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
html {
  font-size: 100%;
}

@media (max-width: 1000px) {
  html {
    font-size: 85%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 75%;
  }
}

body {
  background-color: #eee;
  height: 100vh;
}

.page-container {
  min-height: 100%;
}

.page-container .content-wrap {
  overflow: auto;
  padding-bottom: 270px;
}
