@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
$font-color: rgb(0, 0, 0);

.flx-news-container {
  font-family: "Hind Siliguri", sans-serif;
  @media (min-width: 1200px) {
    display: flex;
    justify-content: space-between;
  }
  
  .flx-cld-major {
    flex: 3;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

    .section-title {
      margin: 30px 0 30px 0;
      background-color: #ffffff;
      border-style: solid;
      border-color: #4f6969;
      border-width: 0px;
      border-left-width: 5px;
      padding: 10px;
      text-align: left;
      color: rgb(42, 35, 71);
      width: 100%;
      font-size: 30px;
    }

    .flx-card {
      margin: 10px;
      width: 300px;
      height: 240px;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;

      @media (max-width: 500px) {
        width: 150px;
        height: 200px;
      }

      img {
        width: 100%;
        height: 180px;

        @media (max-width: 500px) {
          height: 100px;
        }
      }

      .item-title {
        margin: 5px;
        font-size: 18px;
        &:hover {
          color: blue;
          text-decoration: underline;
        }
        @media (max-width: 500px) {
          font-size: 16px;
        }
        a {
          color: black;
          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }
      .change-opt {
        text-align: center;
        margin: 5px;
      }
    }
    
    .recent {
      padding: 1rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      @media(max-width: 500px){
        border: 2px solid rgba(87, 57, 57, 0.63);
      }

      .sec-title{ 
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;

        grid-column: 1/4;
        grid-row: 1/2;
      
        @media (max-width: 1000px) {
          grid-column: 1/3;
        }        
        @media (max-width: 700px) {
          grid-column: 1/2;
        }

        min-height: 40px;
        background-color: #ffffff;
        border-style: solid;
        border-color: #4f6969;
        border-width: 0px;
        border-left-width: 5px;
        padding: 10px;        
        color: rgb(42, 35, 71);
        width: 100%;        
        display: flex;

        .title{
          flex: 1;
          text-align: left;
          font-size: 1.5rem;
        }
        .see-more{
          text-align: right;
          margin-top: 5px;
          width: 200px;
          font-size: 1.2rem;
          a{
            color: #851515;
          }
        }
      }

      .slider {
        // shadow around whole div
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;

        min-height: 100px;
        grid-column: 1/3;
        grid-row: 2/5;
        @media (max-width: 1000px) {
          grid-column: 1/3;
        }
        @media (max-width: 700px) {
          grid-column: 1/2;
        }
        .carousel-indicators{
          margin-right: 0;
          margin-left: 0;
          // background-image: linear-gradient(to bottom,rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.3),  rgba(0, 0, 0, 0.6) );
          margin-bottom: 5px;
          li{
            margin: 0 5px 0 5px;
            height: 10px;
            width: 10px;
            background-color: rgb(255, 255, 255);
            border-radius: 50%;
            display: inline-block;
          }
        }
        .carousel.slide {
          // its for setting image height with respect to width
          position: relative;
          width: 100%;
          height: 100%;
          padding-bottom: 55%;
          .carousel-inner {
            position: absolute;
            width: 100%;
            height: 100%;
            
            .carousel-item {
              width: 100%;
              height: 100%;
              position: relative;

              img {
                width: 100%;
                height: 100%;
              }
              .carousel-caption {
                left: 0;
                right: 0;
                bottom: 0px;
                padding-top: 20px;
                padding-bottom: 30px;
                background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5) );
                a {                  
                  color: white;
                  font-size: 1.2rem;
                  @media(max-width: 800px){
                    font-size: .9rem;
                    line-height: 100%;
                  }
                  line-height: 200%;
                }
               
              }
            }
          }
        }
        .carousel-control-next,   .carousel-control-prev{
          // background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
          span{
            height: 50px;
            background-color: rgba(0, 0, 0, 0.6);
          }
        }
      }
     
      .news-card {
        // text-align: start;
        background-color: white;
        min-height: 100px;
        display: flex; 
        align-items: center;
        // shadow around whole div
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        .news-cont {
          width: 100%;
          min-height: 100px;
          display: flex;
          .img-cont {
            width: 120px;
            display: flex;
            img {
              margin: auto;
              width: 100px;
              height: 75px;
            }
          }
          .item-title {
            font-size: .9rem;
            flex: 1;
            margin: 10px 10px 10px 0;
            display: flex;
            flex-direction: column;
            a{
              flex: 1;
              color: $font-color;
            }
            .date-cont{
              font-size: .9rem;
              color: #93979a;
            }
          }
        }
      }
    }

    // for general news sections
    .general {
      padding: 1rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      .sec-title{
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;

        grid-column: 1/5;
        grid-row: 1/2;
        
        @media (max-width: 1400px) {
          grid-column: 1/4;
        }  
        @media (max-width: 1000px) {
          grid-column: 1/3;
        }        
        @media (max-width: 700px) {
          grid-column: 1/2;
        }

        min-height: 50px;
        background-color: #ffffff;
        border-style: solid;
        border-color: #4f6969;
        border-width: 0px;
        border-left-width: 5px;
        padding: 10px;        
        color: rgb(42, 35, 71);
        width: 100%;        
        display: flex;

        .title{
          flex: 1;
          text-align: left;
          font-size: 1.5rem;
        }
        .see-more{
          text-align: right;
          margin-top: 5px;
          width: 200px;
          font-size: 1.2rem;
          a{
            color: #851515;
          }
        }
        

      }    


      .news-card {
        // text-align: start;
        background-color: white;
        min-height: 100px;
        display: flex; 
        align-items: center;
        // shadow around whole div
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        .news-cont {
          width: 100%;
          min-height: 100px;
          display: flex;
          .img-cont {
            width: 120px;
            display: flex;
            img {
              margin: auto;
              width: 100px;
              height: 75px;
            }
          }
          .item-title {
            font-size: .9rem;
            flex: 1;
            margin: 10px 10px 10px 0;
            display: flex;
            flex-direction: column;
            a{
              flex: 1;
              color: $font-color;
            }
            .date-cont{
              font-size: .9rem;
              color: #93979a;
            }
          }
        }
      }

      .main-news{
        grid-column: 1/2;
        grid-row: 2/ 5;
        .news-card {
          align-items: flex-start;
          background-color: rgb(255, 255, 255);
          min-height: 100%;
          // shadow around whole div
          -moz-box-shadow: 0 0 3px #ccc;
          -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
          padding: 5px;
          
          .news-cont {
            margin: 10px;
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            .img-cont {
              position: relative;
              width: 100%;         
              padding-bottom: 65%;
              display: flex;
              img {
                position: absolute;
                width: 100%;
                height: 100%;;
                // display: none;
              }
            }
            .item-title {
              font-size: 1rem;
              flex: 1;
              margin: 10px 10px 10px 0;
              display: flex;
              flex-direction: column;
              a{
                flex: 1;
                color: $font-color;
              }
              .date-cont{
                font-size: 1rem;
                color: #93979a;
              }
            }
          }
        }
      }
    }
  }
  .flx-cld-minor {
    flex: 1;
    .fb-page-cont{
      margin: 10px;
      margin-top: 15px;
      background-color: white;
      .sec-title{
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;

      
        min-height: 40px;
        background-color: #ffffff;
        border-style: solid;
        border-color: #4f6969;
        border-width: 0px;
        border-left-width: 5px;
        padding: 10px;        
        color: rgb(42, 35, 71);
        width: 100%;    
        text-align: left;
        font-size: 1.5rem;       

      } 
      .holder{
        margin: 10px;
        height: 220px;
        @media (min-width:1400px){
          text-align: center;
        }
      }     
    }
  }
}
