@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
.footer {
  position: relative;
  min-height: 270px;
  margin-top: -270px;
  .upper-body {
    min-height: 220px;
    background-color: rgb(79, 77, 85);
    .info-container {
      margin: 0 10vw 0 10vw;
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      .info-item {
        margin: 10px;
        a {
          color: #ffffff;
        }
      }
      .adContact {
        margin: auto;
        width: 100%;
        text-align: left;
        font-size: 22px;
        button {
          border: 3px solid #f8f9fa;
          border-radius: 10px;
          padding: 10px;
          background-color: #273c75;
          color: #f8f9fa;
         
          &:hover{
            background-color: rgba(10, 55, 58, 0.856)
          }
        }
      }
    }
    .link-container {
      margin: 0 10vw 0 10vw;
      padding: 10px;
      @media (min-width: 1000px) {
        display: flex;
      }
      .link-row {
        flex: 1;
        .link {
          margin: 5px;
          a {
            color: rgb(255, 255, 255);
          }
        }
      }
    }
  }
  .lower-body {
    min-height: 50px;
    background-color: rgb(43, 43, 44);
  }
}
