@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
.header{
    width: 100%;
    height: calc(10vw);
    padding: 5px;
    display: flex;
    justify-content: space-between;       
     background-color: #eee;
    .logo{
        max-width: 230px;
        max-height: 110px;
        flex: 1;
        background: url("/assets/images/logo.png") no-repeat;
        background-size: 100%;
        @media (max-width: 799px){
			display: none;
        }
    }
   
}