@import './newsAndVideoContainers/flx-news-container', './newsAndVideoContainers/flx-vid-container';

body {
  background-color: #eee;
  height: 100vh;
}
.page-container {
  min-height: 100%;
  .content-wrap{
    overflow: auto;
    padding-bottom: 270px;
  }
}
