@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import './flx-news-container';
@import'./flx-vid-container';

body {
  background-color: #eee;
  height: 100vh;
}
.page-container {
  min-height: 100%;
  .content-wrap{
    overflow: auto;
    padding-bottom: 270px;
  }
}

.main-container{
  margin: 10vw 10vw 10vw 10vw;
  h1,h3,h2{
    margin: 20px 0 30px 0;
  }
  p{
    font-size: 20px;
  }
  li{    
    font-size: 20px;
  }
}