@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
.nav-container {
	top: 0;
}
.bg-light {
    background-color: #ffffff!important;
}

nav {
	.nav-logo{
		padding: 0;
		margin: 5px;
		width: 140px;
		height: 50px;
		
		img{
			margin: 0;
			padding: 0;
			width: 100%;
			height: 100%;
			border: none;
		}
		@media (min-width: 800px){
			display: none;
		}
	}
	
	
	ul {
		li {
			color: #ee3434;
			font-size: 16px;
		}
	}
}
.navbar-light {
	.navbar-nav {
		.nav-link {
			@media (min-width: 800px){				
				margin: 0 20px 0 20px;
			}
			color: #343a40;
			&:hover {
                background-color: #d5e9fd;
				color: rgb(69, 164, 253);
			}
		}
	}
	.navbar-brand {	
		font-family: "Galada", cursive;	
		color: #ee3434;	
        font-size: 30px;	
        &:hover {	
            // background-color: #d5e9fd;	
             color: #ee3434;	
        }	
	}
	
}
@media (min-width: 992px) {
	.navbar-expand-lg {
		.navbar-collapse {
			display: flex !important;
			flex-basis: auto;
			justify-content: flex-end;
		}
	}
}
