@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import'./flx-vid-container';

$font-color: rgb(0, 0, 0);

body {
  background-color: #eee;
  height: 100vh;
}
.page-container {
  min-height: 100%;
  .content-wrap{
    overflow: auto;
    padding-bottom: 270px;
  }
}

main{
  margin: 20px 6%;
  @media(max-width: 1200px){
    margin-left: 10px;
    margin-right: 10px;
  }
  @media(max-width: 1000px){
    margin-left: 5px;
    margin-right: 5px;
  }
}

.flx-news-container {
  font-family: "Hind Siliguri", sans-serif;
  @media (min-width: 1200px) {
    display: none;
    display: flex;
    justify-content: space-between;
  }
  .flx-cld-major {
    flex: 3;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

    .section-title {
      margin: 30px 0 30px 0;
      background-color: #ffffff;
      border-style: solid;
      border-color: #4f6969;
      border-width: 0px;
      border-left-width: 5px;
      padding: 10px;
      text-align: left;
      color: rgb(42, 35, 71);
      width: 100%;
      font-size: 30px;
    }

    .flx-card {
      margin: 10px;
      width: 300px;
      height: 240px;
      background-color: rgb(255, 255, 255);
      border-radius: 5px;

      @media (max-width: 500px) {
        width: 150px;
        height: 200px;
      }

      img {
        width: 100%;
        height: 180px;

        @media (max-width: 500px) {
          height: 100px;
        }
      }

      .item-title {
        margin: 5px;
        font-size: 18px;
        &:hover {
          color: blue;
          text-decoration: underline;
        }
        @media (max-width: 500px) {
          font-size: 16px;
        }
        a {
          color: black;
          &:hover {
            color: blue;
            text-decoration: underline;
          }
        }
      }
      .change-opt {
        text-align: center;
        margin: 5px;
      }
    }


    // for general news sections
    .general {
      padding: 1rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      .sec-title{
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;

        grid-column: 1/5;
        grid-row: 1/2;
        
        @media (max-width: 1400px) {
          grid-column: 1/4;
        }  
        @media (max-width: 1000px) {
          grid-column: 1/3;
        }        
        @media (max-width: 700px) {
          grid-column: 1/2;
        }

        min-height: 50px;
        background-color: #ffffff;
        border-style: solid;
        border-color: #4f6969;
        border-width: 0px;
        border-left-width: 5px;
        padding: 10px;        
        color: rgb(42, 35, 71);
        width: 100%;        
        display: flex;

        .title{
          flex: 1;
          text-align: left;
          font-size: 1.5rem;
        }
        .see-more{
          margin-top: 5px;
          width: 200px;
          font-size: 1.2rem;
          a{
            color: #851515;
          }
        }
        

      }    


      .news-card {
        // text-align: start;
        background-color: white;
        min-height: 100px;
        display: flex; 
        align-items: center;
        // shadow around whole div
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        .news-cont {
          width: 100%;
          min-height: 100px;
          display: flex;
          .img-cont {
            width: 120px;
            display: flex;
            img {
              margin: auto;
              width: 100px;
              height: 75px;
            }
          }
          .item-title {
            font-size: .8rem;
            flex: 1;
            margin: 10px 10px 10px 0;
            display: flex;
            flex-direction: column;
            a{
              flex: 1;
              color: $font-color;
            }
            .date-cont{
              font-size: .8rem;
              color: #93979a;
            }
          }
        }
      }

      .main-news{
        grid-column: 1/3;
        grid-row: 2/5;
        @media (max-width: 1000px) {
          grid-column: 1/3;
        }
        @media (max-width: 700px) {
          grid-column: 1/2;
        }
        .news-card {
          align-items: flex-start;
          background-color: rgb(255, 255, 255);
          min-height: 100%;
          // shadow around whole div
          -moz-box-shadow: 0 0 3px #ccc;
          -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
          padding: 5px;
          
          .news-cont {
            margin: 10px;
            width: 100%;
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
            .img-cont {
              position: relative;
              width: 100%;         
              padding-bottom: 65%;
              display: flex;
              img {
                position: absolute;
                width: 100%;
                height: 100%;;
                // display: none;
              }
            }
            .item-title {
              font-size: 1rem;
              flex: 1;
              margin: 10px 10px 10px 0;
              display: flex;
              flex-direction: column;
              a{
                flex: 1;
                color: $font-color;
              }
              .date-cont{
                font-size: 1rem;
                color: #93979a;
              }
            }
          }
        }
      }
    }
  }
  .flx-cld-minor {
    flex: 1;
    .fb-page-cont{
      margin: 10px;
      margin-top: 15px;
      background-color: white;
      .sec-title{
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;

      
        min-height: 40px;
        background-color: #ffffff;
        border-style: solid;
        border-color: #4f6969;
        border-width: 0px;
        border-left-width: 5px;
        padding: 10px;        
        color: rgb(42, 35, 71);
        width: 100%;    
        text-align: left;
        font-size: 1.5rem;       

      } 
      .holder{
        margin: 10px;
        height: 220px;
        @media (min-width:1400px){
          text-align: center;
        }
      }     
    }
  }
}
.flx-news-container-old {
  font-family: "Hind Siliguri", sans-serif;
  @media (min-width: 1200px) {
    display: none;
    display: flex;
    justify-content: space-between;
  }
  .flx-cld-major {
    flex: 3;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;

    // for general news sections
    .general {
      padding: 1rem;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      .news-card {
        align-items: flex-start;
        background-color: rgb(255, 255, 255);
        // shadow around whole div
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        padding: 5px;
        
        .news-cont {
          margin: 10px;
          width: 100%;
          height: 100%;
          margin: 0;
          display: flex;
          flex-direction: column;
          .img-cont {
            position: relative;
            width: 100%;         
            padding-bottom: 65%;
            display: flex;
            img {
              position: absolute;
              width: 100%;
              height: 100%;;
              // display: none;
            }
          }
          .item-title {
            font-size: 1rem;
            flex: 1;
            margin: 10px 10px 10px 0;
            display: flex;
            flex-direction: column;
            a{
              flex: 1;
              color: $font-color;
            }
            .date-cont{
              font-size: 1rem;
              color: #93979a;
            }
          }
        }
      }
    }
  }
  .flx-cld-minor {
    flex: 1;
    .fb-page-cont{
      margin: 10px;
      margin-top: 15px;
      background-color: white;
      .sec-title{
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;

      
        min-height: 40px;
        background-color: #ffffff;
        border-style: solid;
        border-color: #4f6969;
        border-width: 0px;
        border-left-width: 5px;
        padding: 10px;        
        color: rgb(42, 35, 71);
        width: 100%;    
        text-align: left;
        font-size: 1.5rem;       

      } 
      .holder{
        margin: 10px;
        height: 220px;
        @media (min-width:1400px){
          text-align: center;
        }
      }     
    }
  }
}


.add-new {
  width: 100%;
  text-align: center;
  padding: 10px;
}

// for create contetn form
.form-container {
  padding: 10px 10px 10px 10px;
  width: calc(100% - 10%);
  margin: 20px 5% 20px 5%;
  background-color: #e9ecef;

  @media (min-width: 800px) {
    width: calc(100% - 30%);
    margin: 20px 15% 20px 15%;
  }

  .part {
    padding: 10px;
    .title {
      font-size: 20px;
      font-weight: bold;
    }
  }
  .btn-container {
    width: 100%;
    padding: 10px;
    text-align: center;
  }
}

.admin-cont{
  .flx-card {
    min-height: 260px;
  }
}
