@import url("https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap");
$font-color: rgb(0, 0, 0);

html {
  font-size: 100%;
  @media (max-width: 1000px) {
    font-size: 85%;
  }
  @media (max-width: 600px) {
    font-size: 75%;
  }
}
body {
  background-color: #eee;
  height: 100vh;
}
.page-container {
  min-height: 100%;
  .content-wrap {
    overflow: auto;
    padding-bottom: 270px;
  }
}

.flx-prnt {
  @media (min-width: 1100px) {
    display: flex;
    justify-content: space-between;
  }
  .flx-content {
    margin: 1rem;
    background-color: rgb(255, 255, 255);
    flex: 2;
    padding: 10vw;
    padding-top: 10px;

    .img-container {
      display: flex;
      width: 100%;
      height: (100vw) * 0.25;
      margin-bottom: 30px;
      @media (max-width: 600px) {
        height: (100vw) * 0.6;
      }
      img {
        margin: auto;
        width: 100%;
        height: 100%;
        @media (max-width: 1100px) {
          width: 50%;
          height: 100%;
        }
        @media (max-width: 600px) {
          width: 100%;
          height: 100%;
        }
      }
    }
    .title-container {
      margin: 30px 0 20px 0;
      font-size: 1.5rem;
      font-weight: bold;
    }
    .author-cont {
      min-height: 40px;
      text-align: left;
      display: flex;
      padding: 10px;
      align-items: center;
      img {
        height: 25px;
        width: 25px;
      }
      p {
        font-size: 0.8rem;
        margin-left: 10px;
        padding-top: 10px;
      }
      .date-container {
        margin-left: 10px;
        display: flex;
        align-items: center;
        color: rgba(112, 112, 112, 0.726);
        img {
          height: 1rem;
          width: 1rem;
        }
        p {
          font-size: 0.7rem;
          font-weight: bold;
        }
      }
    }

    .fb-share-cont {
      width: 100%;
      margin: 20px 0 20px 0;
    }
    .fb-cmnt-cont {
      width: 100%;
      margin: 20px 0 20px 0;
    }
    .publicity {
      padding: 10px;
      height: 80px;
      display: flex;
      .fb-share-cont {
        flex: 1;
        width: 100%;
        margin: 20px 0 20px 0;
      }
      .view {
        margin: auto;
        // shadow around whole div
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;

        width: 80px;
        height: 30px;
        display: flex;
        .icon {
          flex: 1;
          padding: 5px;
          display: flex;
          -moz-box-shadow: 0 0 3px #ccc;
          -webkit-box-shadow: 0 0 3px #ccc;
          box-shadow: 0 0 3px #ccc;
          img {
            margin: auto;
            width: 25px;
            height: 25px;
          }
        }
        .count {
          background-color: rgba(190, 190, 190, 0.329);
          flex: 1;
          color: slategray;
          display: flex;
          p {
            margin: auto;
          }
        }
      }
    }
    .ad-container-top {
      position: relative;
      width: 100%;
      height: 150px;
      padding-bottom: 40%;
      display: flex;
      a {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        img {
          margin: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
    .ad-container-middle {
      position: relative;
      width: 100%;
      height: 150px;
      padding-bottom: 5%;
      display: flex;
      a {
        margin: auto;
        max-width: 100%;
        max-height: 100%;
        img {
          margin: auto;
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }
  .flx-ad {
    flex: 1;
    margin: 1rem;

    .news-suggestions {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;

      .sec-title{
      -moz-box-shadow: 0 0 3px #ccc;
      -webkit-box-shadow: 0 0 3px #ccc;
      box-shadow: 0 0 3px #ccc;

    
      min-height: 40px;
      background-color: #ffffff;
      border-style: solid;
      border-color: #4f6969;
      border-width: 0px;
      border-left-width: 5px;
      padding: 10px;        
      color: rgb(42, 35, 71);
      text-align: left;
      font-size: 1.2rem;       

      grid-column: 1/2;
      grid-row: 1/2;

      @media (max-width: 1100px) {
        grid-column: 1/4;
      }        
      @media (max-width: 950px) {
        grid-column: 1/3;
      }  
      @media (max-width: 650px) {
        grid-column: 1/2;
      }  
    } 

      .news-card {
        // text-align: start;
        background-color: white;
        min-height: 100px;
        display: flex;
        align-items: center;
        // shadow around whole div
        -moz-box-shadow: 0 0 3px #ccc;
        -webkit-box-shadow: 0 0 3px #ccc;
        box-shadow: 0 0 3px #ccc;
        .news-cont {
          width: 100%;
          min-height: 100px;
          display: flex;
          .img-cont {
            width: 120px;
            display: flex;
            img {
              margin: auto;
              width: 100px;
              height: 75px;
            }
          }
          .item-title {
            font-size: 0.9rem;
            flex: 1;
            margin: 10px 10px 10px 0;
            display: flex;
            flex-direction: column;
            a {
              flex: 1;
              color: $font-color;
            }
            .date-cont {
              font-size: 0.9rem;
              color: #93979a;
            }
          }
        }
      }
    }
  }
}
