<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

    <!-- google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Courier+Prime&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Hind Siliguri">

    <!-- google adsense -->
    <!-- <script data-ad-client="ca-pub-4266924221770969" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script> -->
    
    
    <!-- stylesheet for navbar -->
    <link rel="stylesheet" href="/assets/cssFiles/navbar.css">
    <link rel="stylesheet" href="/assets/cssFiles/adManage.css" />
    <link rel="stylesheet" href="/assets/cssFiles/footer.css">

    <title>এডমিন-এড মেনেজমেন্ট</title>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169815710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169815710-1');
    </script>
  </head>

  <body>
    <div class="page-container">
      <div class="content-wrap">
        
        <!-- navigation bar -->
        <% include ./segments/adminNavbar %>

        <!-- this part contains news -->
        <main>          
          <!-- Modal -->
          <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Are you sure you want to remove this ad?
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger">Delete</button>
                </div>
              </div>
            </div>
          </div>
          <div class="create-ad">
              <form action="" method="">
                  <div class="input-cont">
                      <div class="custom-file">
                          <input type="file" class="custom-file-input" name="photo" id="customFile">
                          <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                  </div>
                  <div class="input-cont">
                      <input type="text" class="form-control" name="link" id="link" aria-describedby="link" placeholder="add a link">
                  </div>
                  <div class="btn-container">
                      <button type="submit" class="btn btn-primary">Save Ad</button>
                  </div>
              </form> 
          </div> 
          
          <div class="ad-displayer">
            <div class="title">
              Preview
            </div>
            <div class="preview">
              <img src="/assets/images/bohubrihiBanner.PNG" alt="Image not found">
            </div>
            <div class="title">
              Link
            </div>
            <p>here link</p>
            <div class="btn-container">
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Delete</button>
            </div>
          </div>
        </main>

      </div>
    </div>
    <% include ./segments/footer.ejs %>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
