<html lang="en">
  <head>
	  <!-- Required meta tags -->
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  
	

	<link rel="stylesheet" href="/assets/cssFiles/signin.css">

	<!-- google adsense -->
    <script data-ad-client="ca-pub-4266924221770969" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>


    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />

	<link rel="stylesheet" href="/assets/cssFiles/registration.css" />
	<!-- stylesheet for navbar -->
	<link rel="stylesheet" href="/assets/cssFiles/navbar.css">
	<link rel="stylesheet" href="/assets/cssFiles/footer.css">

	<title>লগ ইন - ক্যাম্পাস প্রতিদিন</title>
	
	<!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-169815710-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-169815710-1');
    </script>
  </head>

  <body>		
	<div class="page-container">
		<div class="content-wrap">
			<!-- navigation bar -->
			<% include ./segments/navbar %>

			<div class = "container">
				<div class="wrapper">
					<% include ./segments/messages %>
					<form action="/auth/login" method="post" name="Login_Form" class="form-signin">       
						<h3 class="form-signin-heading">Welcome! Please Sign In</h3>
						
						<input type="text" class="form-control" name="emailOrPhone" placeholder="email or phone no" required="" autofocus="" />
						<input type="password" class="form-control" name="password" placeholder="password" required=""/>     		  
						
						<button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  		
						<br>
					</form>			
				</div>
			</div>
		</div>
	</div>
	
	<% include ./segments/footer.ejs %>

	<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
