<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Galada">
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="nav-logo">
      <a href="/admin/">
        <img src="/assets/images/logo.png" alt="">
      </a>
  </div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <span class="navbar-text">
      <ul class="navbar-nav mr-auto ">
        <li class="nav-item ">
          <a class="nav-link" href="/admin/" 
            >হোম </a
          >
        </li>
        <% for (let i=0; i< 7; i++) { %>
          <li class="nav-item ">
            <a class="nav-link" href="/admin/news/<%= classes[i] %>"
              ><%= classes[i] %> </a
            >
          </li>
        <% } %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            অন্যান্য
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <% for (let i=7; i< classes.length; i++) { %>
              <a class="dropdown-item" href="/admin/news/<%= classes[i] %>"> <%= classes[i] %> </a>
            <% } %>
          </div>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/admin/videos"
            >ভিডিও </a
          >
        </li>
        <% if( typeof displayName != 'undefined' && displayName != '') { %>
          <li class="nav-item ">
            <a class="nav-link" href="/auth/logout"
              >লগ আউট </a
            >
          </li>
        <% } %>         
      </ul>
    </span>

  </div>
</nav>