<div class="footer-container">
    <div class="footer">
        <div class="upper-body">
            <div class="info-container">
                <div class="info-item">
                    <a href="/aboutUs">About Us</a>
                </div>                
                <div class="info-item">
                    <a href="/termsAndConditions">Terms and Conditions</a>
                </div>
                <div class="info-item">
                    <a href="/privacyPolicy">Privacy Policy</a>
                </div>
                <div class="info-item">
                    <a href="/contactUs">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="lower-body">
    
        </div>
    </div>
</div>
