<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Galada">
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="/">ক্যাম্পাস প্রতিদিন</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <span class="navbar-text">
        <ul class="navbar-nav mr-auto ">
          <li class="nav-item ">
            <a class="nav-link" href="/" 
              >হোম <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/videos"
              >ভিডিও <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/news"
              >সংবাদ <span class="sr-only">(current)</span></a
            >
          </li>         
        </ul>
      </span>

    </div>
  </nav>